<template>
	<v-card flat>
		<v-toolbar flat color="rgba(0,0,0,0)">
			<v-toolbar-title>
				{{ options.title ? options.title : "Title" }}
			</v-toolbar-title>
		</v-toolbar>
		<v-treeview
			v-if="legendItems && groupedData"
			selectable
			dense
			hoverable
			:items="legendItems"
			v-model="selected"
			class="legend-items"
		>
			<template v-slot:prepend="{ item }">
				<img width="20px" height="20px" :src="getIcon(item)" />
			</template>
			<template v-slot:append="{ item }">
				<b>
					{{
						Object.keys(groupedData).indexOf(item.name) != -1
							? groupedData[item.name].length
							: 0
					}}
				</b>
			</template>
		</v-treeview>
	</v-card>
</template>

<script>
	import { mapState, mapMutations, mapActions } from "vuex";

	export default {
		name: "Legend",
		components: {},
		props: ["legendData"],
		data: () => ({
			selected: [],
			legendItems: null,
			options: null
		}),
		computed: {
			...mapState({
				config: state => state.config,
				appData: state => state.dataLoader.appData,
				iconObj: state => state.icons.iconObj,
				groupedData: state => state.dataLoader.appData.grouped.arc
			}),
			getItems() {
				let arr = [];
				Object.keys(this.appData.grouped[this.options.id]).forEach(item => {
					if (!this.options.subProp) {
						this.selected.push(item);
					}
					arr.push({
						id: item,
						name: item,
						icon: this.options.subProp ? null : item,
						visible: true,
						children: this.options.subProp
							? this.getChildren(this.appData.grouped[this.options.id][item], item)
							: []
					});
				});
				return arr;
			}
		},
		methods: {
			...mapActions({
				createSelected: "legend/createSelected"
			}),
			getIcon(item) {
				const arcIcon = this.iconObj[this.options.id][item.name];
				return `data:${arcIcon.type};base64, ${arcIcon.icon}`;
			}
		},
		created() {
			this.options = { ...this.legendData, ...config.data[this.legendData.id].style };
		},
		mounted() {
			console.log("appData", this.appData);
			this.legendItems = this.getItems;
		},
		watch: {
			selected(val) {
				this.createSelected({
					id: this.options.id,
					data: val
				});
			}
		}
	};
</script>

<style lang="scss"></style>
