<template>
	<v-card dense id="popup-card" flat width="300">
		<v-card-title class="popup-card-title">
			Event Type: {{ feature.properties.arcIcon.label }}
		</v-card-title>
		<v-card-text>
			<p><b>User:</b> {{ feature.properties.created_user }}</p>
		</v-card-text>
	</v-card>
</template>

<script>
	import { mapState, mapMutations } from "vuex";

	export default {
		name: "MapPopup",
		props: ["feature", "vue", "id"],
		data: () => ({})
	};
</script>

<style lang="scss">
	$popup-background: #fff;
	$popup-width: 300px;

	.gillipop .leaflet-popup-content-wrapper {
		background: none;
		color: #fff;
		font-size: 16px;
		line-height: 24px;
		border-radius: 5px;
		padding: 0;
		margin: 0;
	}
	.gillipop .leaflet-popup-content {
		margin: 0;
		padding: 0;
		width: $popup-width !important;
	}
	.gillipop .leaflet-popup-content-wrapper a {
		color: rgba(255, 255, 255, 0.5);
	}
	.gillipop .leaflet-popup-tip-container {
		width: 30px;
		height: 15px;
		left: 50%;
	}
	.gillipop .leaflet-popup-tip {
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid $popup-background;
		transform: rotate(0);
		margin: -2px 0 0 0;
		background: none;
	}

	#popup-card {
		background-color: $popup-background;
		color: #333;

		.popup-card-title {
			background: #222;
			color: #fff;
			margin-bottom: 10px;
		}

		p {
			margin: 5px 0;
		}
	}
</style>
