<template>
	<highcharts
		id="chart_height"
		:options="chartOptions()"
		ref="barChart"
		:constructor-type="'stockChart'"
	>
	</highcharts>
</template>

<script>
	import { mapState, mapActions } from "vuex";

	export default {
		name: "BarChartStock",
		props: ["dialogObj"],
		data: () => ({}),
		computed: {
			...mapState({
				chartData: state => state.charting.chartData
			})
		},
		methods: {
			...mapActions({
				parseBarStockData: "charting/parseBarStockData"
			}),
			chartOptions: function() {
				return {
					chart: {
						type: this.chartData[this.dialogObj.id].type,
						isDirtyBox: true
					},
					title: {
						text: "Bar Chart"
					},
					series: this.chartData.bar
				};
			}
		},
		mounted() {
			this.parseBarStockData(this.dialogObj).finally(() => {});
		}
	};
</script>

<style lang="scss"></style>
