<template>
	<v-card dense id="popup-card-cluster" flat width="500">
		<v-btn @click="prev()" class="prevIcon" icon dark>
			<v-icon size="24px" color="white">mdi-chevron-left</v-icon>
		</v-btn>
		<v-btn @click="next()" class="nextIcon" icon dark>
			<v-icon size="24px" color="white">mdi-chevron-right</v-icon>
		</v-btn>
		<v-card-title class="popup-card-title">
			{{ children[index].feature.properties.Payment_Type }}
			<span>({{ this.index + 1 }} of {{ children.length }})</span>
		</v-card-title>
		<v-card-text>
			<p><b>Date:</b> {{ children[index].feature.properties.Transaction_date }}</p>
			<p><b>Product:</b> {{ children[index].feature.properties.Product }}</p>
			<p><b>Price:</b> {{ children[index].feature.properties.Price }}</p>
			<p><b>Name:</b> {{ children[index].feature.properties.Name }}</p>
			<p><b>Country:</b> {{ children[index].feature.properties.Country }}</p>
		</v-card-text>
		<v-card-actions>
			<v-btn @click="openClusterPie()">Pie Chart</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
	import { mapState, mapMutations } from "vuex";

	export default {
		name: "ClusterPopup",
		props: ["children", "vue"],
		data: () => ({
			index: 0
		}),
		methods: {
			prev() {
				if (this.index === 0) {
					this.index = this.children.length - 1;
				} else {
					this.index--;
				}
			},
			next() {
				if (this.index >= this.children.length - 1) {
					this.index = 0;
				} else {
					this.index++;
				}
			},
			openClusterPie() {
				this.vue.SET_DIALOG_OBJ({
					component: "PieChart",
					visible: true,
					data: this.children,
					prop: "Product",
					id: "clusterPie"
				});
			}
		}
	};
</script>

<style lang="scss">
	$popup-background: #fff;

	.gillipop-cluster .leaflet-popup-content-wrapper {
		background: none;
		color: #fff;
		font-size: 16px;
		line-height: 24px;
		border-radius: 5px;
		padding: 0;
		margin: 0;
	}
	.gillipop-cluster .leaflet-popup-content {
		margin: 0;
		padding: 0;
	}
	.gillipop-cluster .leaflet-popup-content-wrapper a {
		color: rgba(255, 255, 255, 0.5);
	}
	.gillipop-cluster .leaflet-popup-tip-container {
		width: 30px;
		height: 15px;
		left: 50%;
	}
	.gillipop-cluster .leaflet-popup-tip {
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid $popup-background;
		transform: rotate(0);
		margin: -2px 0 0 0;
		background: none;
	}

	#popup-card-cluster {
		background-color: $popup-background;
		color: #333;

		.prevIcon {
			position: absolute;
			top: 15px;
			left: 10px;
		}

		.nextIcon {
			position: absolute;
			top: 15px;
			right: 10px;
		}

		.popup-card-title {
			background: #222;
			color: #fff;
			margin-bottom: 10px;
			justify-content: center;
			width: 100%;

			span {
				margin-left: 10px;
			}
		}

		p {
			margin: 5px 0;
		}
	}
</style>
