<template>
	<v-card flat>
		<v-toolbar flat color="rgba(0,0,0,0)">
			<v-toolbar-title>
				{{ options.title ? options.title : "Title" }}
			</v-toolbar-title>
		</v-toolbar>
		<v-treeview
			v-if="legendItems && appData.grouped[options.id]"
			selectable
			dense
			hoverable
			open-on-click
			:items="legendItems"
			v-model="selected"
			class="legend-items"
		>
			<template v-slot:prepend="{ item }">
				<v-icon v-if="item.icon" :color="getColor(item)">{{ getIcon(item) }}</v-icon>
			</template>
			<!-- <template v-slot:append="{ item }">
				<b>
					{{
						Object.keys(appData.filtered[options.id]).indexOf(item.name) != -1
							? appData.filtered[options.id][item.name].length
							: 0
					}}
				</b>
			</template> -->
		</v-treeview>
	</v-card>
</template>

<script>
	import { mapState, mapMutations, mapActions } from "vuex";

	export default {
		name: "Legend",
		components: {},
		props: ["legendData"],
		data: () => ({
			selected: [],
			legendItems: null,
			options: null
		}),
		computed: {
			...mapState({
				config: state => state.config,
				appData: state => state.dataLoader.appData,
				iconObj: state => state.icons.iconObj
			}),
			getItems() {
				let arr = [];
				console.log("LEGEND DATA", this.appData.grouped[this.options.id]);
				Object.keys(this.appData.grouped[this.options.id]).forEach(item => {
					if (!this.options.subProp) {
						this.selected.push(item);
					}
					arr.push({
						id: item,
						name: item,
						icon: this.options.subProp ? null : item,
						visible: true,
						children: this.options.subProp
							? this.getChildren(this.appData.grouped[this.options.id][item], item)
							: []
					});
				});
				return arr;
			}
		},
		methods: {
			...mapActions({
				createSelected: "legend/createSelected"
			}),
			getChildren(item, parent) {
				let arr = [];
				Object.keys(item).forEach(child => {
					this.selected.push(`${parent}_${child}`);
					arr.push({
						id: `${parent}_${child}`,
						name: child,
						icon: child
					});
				});
				return arr;
			},
			getIcon(item) {
				const temp = this.iconObj[this.options.id][item.icon];
				let icon = temp ? temp.icon : this.iconObj.DEFAULT.icon;
				return icon;
			},
			getColor(item) {
				const temp = this.iconObj[this.options.id][item.icon];
				let icon = temp ? temp.color : this.iconObj.DEFAULT.color;
				return icon;
			}
		},
		created() {
			this.options = { ...this.legendData, ...config.data[this.legendData.id].style };
		},
		mounted() {
			this.legendItems = this.getItems;
		},
		watch: {
			selected(val) {
				this.createSelected({
					id: this.options.id,
					data: val
				});
			}
		}
	};
</script>

<style lang="scss"></style>
