<template>
	<div id="map">
		<LMap
			:minZoom="1"
			class="map"
			:zoom="zoom"
			:center="center"
			ref="map"
			v-on:ready="mapReady"
		>
			<LTileLayer :url="url" />
			<template v-if="config.data.sales.style.subProp">
				<template v-for="(item, parent) in appData.filtered.sales">
					<Vue2LeafletMarkerCluster
						v-for="(geo, child) in item"
						:key="`${parent}_${child}`"
						:options="clusterOptions"
						:ref="`cluster_${parent}_${child}`"
					>
						<LGeoJson
							:geojson="geo"
							:options="markerOptions"
							:ref="`marker_${parent}_${child}`"
						/>
					</Vue2LeafletMarkerCluster>
				</template>
			</template>
			<template v-else>
				<Vue2LeafletMarkerCluster
					v-for="(geojson, key) in appData.filtered.sales"
					:key="key"
					:options="clusterOptions"
					:ref="`cluster_${key}`"
				>
					<LGeoJson :geojson="geojson" :options="markerOptions" :ref="`marker_${key}`" />
				</Vue2LeafletMarkerCluster>
			</template>
			<Vue2LeafletMarkerCluster
				v-for="(arcData, arcKey) in appData.filtered.arc"
				:key="arcKey"
				:ref="`cluster_${arcKey}`"
			>
				<LGeoJson
					v-if="iconObj.arc"
					:geojson="arcData"
					:options="arcOptions"
					:ref="`marker_${arcKey}`"
				/>
			</Vue2LeafletMarkerCluster>
		</LMap>
	</div>
</template>

<script>
	import Vue from "vue";
	import { LMap, LTileLayer, LMarker, LGeoJson, LPopup } from "vue2-leaflet";
	import Vue2LeafletMarkerCluster from "vue2-leaflet-markercluster";
	import "leaflet.markercluster/dist/MarkerCluster.Default.css";
	import "../plugins/leaflet.MarkerCluster.PlacementStrategies.js";
	import L from "leaflet";
	import MapPopup from "../core_components/MapPopup";
	import ClusterPopup from "../core_components/ClusterPopup";
	import ArcPopup from "../core_components/ArcPopup";

	import { mapGetters, mapState, mapActions, mapMutations } from "vuex";
	export default {
		name: "Map",
		components: {
			LMap,
			LTileLayer,
			LMarker,
			LGeoJson,
			Vue2LeafletMarkerCluster
		},
		data: () => ({
			url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
			zoom: 3,
			center: [47.41322, -1.219482],
			bounds: null,
			mapLoaded: false
		}),
		computed: {
			...mapGetters({
				selectedItems: "legend/selected"
			}),
			...mapState({
				config: state => state.config,
				appData: state => state.dataLoader.appData,
				iconObj: state => state.icons.iconObj,
				legend: state => state.legend.selected,
				dataUpdated: state => state.timeslider.dataUpdated,
				legendUpdated: state => state.legend.legendUpdated
			}),
			clusterOptions() {
				return {
					maxClusterRadius: 30,
					elementsPlacementStrategy: "original-locations",
					spiderfyDistanceSurplus: 25,
					spiderfyOnMaxZoom: false,
					showCoverageOnHover: false,
					zoomToBoundsOnClick: false,
					spiderfyDistanceMultiplier: 1,
					iconCreateFunction: this.onEachCluster("sales")
				};
			},
			markerOptions() {
				return {
					onEachFeature: this.onEachMarker("sales")
				};
			},
			arcOptions() {
				return {
					onEachFeature: this.styleArcData("arc")
				};
			}
		},
		methods: {
			...mapMutations({
				SET_MAP: "map/SET_MAP",
				SET_DIALOG_OBJ: "dialog/SET_DIALOG_OBJ"
			}),
			mapReady() {
				this.mapLoaded = true;
				this.map = this.$refs.map.mapObject;
				this.SET_MAP(this.map);
				this.map.invalidateSize();
			},
			onEachMarker(id) {
				return (feature, layer) => {
					const temp = this.config.data.sales.style.subProp
						? this.iconObj[id][feature.properties[this.config.data[id].style.subProp]]
						: this.iconObj[id][feature.properties[this.config.data[id].style.prop]];

					let icon = temp ? temp : this.iconObj.DEFAULT;
					let myIcon = L.divIcon({
						html: `<div
								class="mdi ${icon.icon}"
								style="color:${icon.color};
								font-size: ${icon.size}"
							</div>`
					});
					layer.setIcon(myIcon);

					let PopupCont = Vue.extend(MapPopup);
					let popup = new PopupCont({
						propsData: {
							feature: feature,
							vue: this
						}
					});
					layer.on("click", () => {
						if (!layer._popup) {
							layer
								.bindPopup(popup.$mount().$el, {
									offset: [13, 15],
									className: "gillipop"
								})
								.openPopup();
						}
					});
				};
			},
			styleArcData(id) {
				return (feature, layer) => {
					let arcIcon = feature.properties.arcIcon;
					let myIcon = L.divIcon({
						html: `<img width="20px" height="20px" src="data:${arcIcon.type};base64, ${arcIcon.icon}" />
							`
					});
					layer.setIcon(myIcon);

					let PopupCont = Vue.extend(ArcPopup);
					let popup = new PopupCont({
						propsData: {
							feature: feature,
							vue: this,
							id: id
						}
					});
					layer.on("click", () => {
						if (!layer._popup) {
							layer
								.bindPopup(popup.$mount().$el, {
									offset: [13, 15],
									className: "gillipop"
								})
								.openPopup();
						}
					});
				};
			},
			onEachCluster(id) {
				return cluster => {
					const children = cluster.getAllChildMarkers();
					const temp = this.config.data.sales.style.subProp
						? this.iconObj[id][
								children[0].feature.properties[this.config.data[id].style.subProp]
						  ]
						: this.iconObj[id][
								children[0].feature.properties[this.config.data[id].style.prop]
						  ];
					const icon = temp ? temp : this.iconObj.DEFAULT;
					const myIcon = L.divIcon({
						html: `<div class="cluster-circle" style="background:${icon.color}";>
								<div
								class="marker mdi ${icon.icon}"
							</div></div>`
					});

					let PopupCont = Vue.extend(ClusterPopup);
					let popup = new PopupCont({
						propsData: {
							children: children,
							vue: this
						}
					});

					cluster.on("click", () => {
						if (!cluster._popup) {
							cluster
								.bindPopup(popup.$mount().$el, {
									offset: [8, 0],
									className: "gillipop-cluster"
								})
								.openPopup();
						}
					});

					return myIcon;
				};
			},
			updateDataWithLegend() {
				console.log("Legend ", this.legend[this.legendUpdated]);
				setTimeout(() => {
					for (let f in this.$refs) {
						if (this.$refs[f].length >= 1) {
							f != "map" && f.indexOf("cluster") != -1
								? this.$refs[f][0].mapObject.clearLayers()
								: null;
						}
					}
					Object.keys(this.legend).forEach(item => {
						for (let q in this.legend[item]) {
							if (this.$refs[`cluster_${this.legend[item][q]}`].length >= 1) {
								this.$refs[
									`cluster_${this.legend[item][q]}`
								][0].mapObject.addLayers(
									this.$refs[`marker_${this.legend[item][q]}`][0].mapObject
								);
							}
						}
					});
				}, 1);
			},
			LightenDarkenColor(colorCode, amount) {
				var usePound = false;

				if (colorCode[0] == "#") {
					colorCode = colorCode.slice(1);
					usePound = true;
				}

				var num = parseInt(colorCode, 16);

				var r = (num >> 16) + amount;

				if (r > 255) {
					r = 255;
				} else if (r < 0) {
					r = 0;
				}

				var b = ((num >> 8) & 0x00ff) + amount;

				if (b > 255) {
					b = 255;
				} else if (b < 0) {
					b = 0;
				}

				var g = (num & 0x0000ff) + amount;

				if (g > 255) {
					g = 255;
				} else if (g < 0) {
					g = 0;
				}

				return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16);
			}
		},
		watch: {
			legend: {
				handler() {
					this.updateDataWithLegend();
				},
				deep: true
			},
			dataUpdated: {
				handler() {
					this.updateDataWithLegend();
				},
				deep: true
			}
		}
	};
</script>

<style lang="scss">
	#map {
		width: 100vw;
		height: calc(100vh - 65px);
		z-index: 5 !important;
		position: relative;
	}

	.leaflet-div-icon {
		border: none !important;
		background: none !important;
	}

	.arcIcon {
		width: 30px;
		height: 30px;
		img {
			width: 30px;
			height: 30px;
		}
	}

	.cluster-circle {
		width: 20px;
		height: 20px;
		border-radius: 100%;
		display: flex;

		.marker {
			width: 20px;
			font-size: 20px;
			text-align: center;
			padding: 0;
			margin: 0;
			position: relative;
			top: -4px;
			color: rgba(255, 255, 255, 0.5);
		}
	}
</style>
