<template>
	<highcharts :options="chartOptions()" ref="highcharts"></highcharts>
</template>

<script>
	import { mapState, mapActions } from "vuex";
	const d3 = require("d3");

	export default {
		name: "PieChart",
		props: ["dialogObj"],
		data() {
			return {
				chartReady: false
			};
		},
		computed: {
			...mapState({
				chartData: state => state.charting.chartData
			})
		},
		methods: {
			...mapActions({
				parsePieData: "charting/parsePieData"
			}),
			chartOptions: function() {
				return {
					chart: {
						type: "pie"
					},
					title: {
						text: "Pie Chart"
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: "pointer",
							dataLabels: {
								enabled: true,
								format: "<b>{point.name}</b>: {point.percentage:.1f} %"
							}
						}
					},
					series: [
						{
							data: this.chartData[this.dialogObj.id]
						}
					]
				};
			}
		},
		watch: {},
		mounted() {
			this.parsePieData(this.dialogObj).finally(() => {});
		}
	};
</script>

<style lang="scss"></style>
