<template>
	<v-card>
		<h1>{{ dialogObj.text }}</h1>
		<h2>{{ dialogObj.data[0].properties.Transaction_date }}</h2>
	</v-card>
</template>

<script>
	export default {
		name: "Test",
		props: ["dialogObj"],
		mounted() {}
	};
</script>
