<template>
	<div id="slider"></div>
</template>

<script>
	import noUiSlider from "nouislider";
	import "nouislider/distribute/nouislider.css";
	import dayjs from "dayjs";
	import { mapState, mapMutations, mapActions } from "vuex";
	import _ from "lodash";

	export default {
		name: "TimeSlider",
		components: {
			noUiSlider
		},
		data: () => ({
			dates: null,
			sliderValue: null
		}),
		computed: {
			...mapState({
				mapData: state => state.dataLoader.appData,
				config: state => state.config
			}),
			async getDates() {
				let dates = [];
				this.config.timeslider.data.forEach((item, index) => {
					dates.push([
						...new Set(
							this.mapData.geojson[item].map(feature =>
								dayjs(
									feature.properties[this.config.timeslider.prop[index]]
								).format("M/D/YYYY")
							)
						)
					]);
					let uniq = _.uniq(dates).flat();
					this.dates = uniq.sort((a, b) => new Date(a) - new Date(b));
				});
			}
		},
		methods: {
			...mapMutations({
				SET_DATE_RANGE: "timeslider/SET_DATE_RANGE",
				UPDATE_DATA: "timeslider/UPDATE_DATA"
			}),
			...mapActions({
				filterData: "timeslider/filterData"
			}),
			initSlider() {
				noUiSlider.create(this.$el, {
					start: [0, this.dates.length - 1],
					// start:3,
					connect: true,
					step: 1,
					range: {
						min: 0,
						max: this.dates.length - 1
					},
					tooltips: [this.prettyDates(), this.prettyDates()],
					pips: {
						mode: "count",
						density: this.dates.length / 2,
						values: 10,
						// filter: this.filterPips,
						stepped: true,
						format: {
							to: value => dayjs(this.dates[Math.floor(value)]).format("M/D/YYYY"),
							from: value => dayjs(this.dates[Math.floor(value)]).format("M/D/YYYY")
						}
					},
					format: {
						to: value => Math.floor(value),
						from: value => Math.floor(value)
					}
				});
				this.$el.noUiSlider.on("set", (values, handle) => {
					this.updateValues(values, handle);
				});
			},
			filterPips(value, type) {
				return (value % 2 === 1 && value > 2) ||
					value === 0 ||
					value === this.dates.length - 1
					? 1
					: 0;
			},
			timestamp(date) {
				return new Date(date).getTime();
			},
			prettyDates(e) {
				return { to: value => dayjs(this.dates[Math.floor(value)]).format("M/D/YYYY") };
			},
			updateValues(values, handle) {
				let start, end;
				if (values.length === 1) {
					start = this.dates[values[0]];
					this.sliderValue = start;
				} else {
					start = this.dates[values[0]];
					end = this.dates[values[1]];
					this.sliderValue = [start, end];
				}
				this.SET_DATE_RANGE([start, end]);
				this.UPDATE_DATA(false);
				this.filterData();
			}
		},
		mounted() {
			console.log("slider");
			this.getDates.finally(() => {
				this.initSlider();
				this.updateValues([0, this.dates.length - 1]);
			});
		}
	};
</script>

<style lang="scss">
	#slider {
		width: 100%;
		height: 20px;

		.noUi-connects {
			background: #ccc;
		}

		.noUi-handle,
		.noUi-touch-area {
			cursor: pointer;
		}

		.noUi-pips {
			color: #333;
		}
		.noUi-marker {
			top: 0px;
			background: #666;
		}
		.noUi-marker-normal {
			height: 10px;
		}
		.noUi-marker-large {
			height: 20px;
		}
	}
</style>
